<app-header></app-header>

<div class="page-body">
    <a [routerLink]="['/explorar']" class="back-link">← Voltar aos grupos</a>
    <div class="group-title-container">
        <div class="title-tags">
            <h1>{{ pageGroup?.titulo }}</h1>
            <span><b>{{ pageGroup?.membros }} Membros</b></span>
            <div class="tags">
                <span *ngFor="let tag of grupoTags"><b>{{ tag }}</b></span>
            </div>
        </div>
        <button class="join-group" *ngIf="!userIsInGroup" (click)="entrarNoGrupo()">Entrar no Grupo</button>
        <button class="join-group" *ngIf="userIsInGroup" (click)="sairDoGrupo()">Sair do Grupo</button>
    </div>
    
    <div class="group-wrapper">
        <div class="post-feed-container">
            <h3>Fórum de Discussões</h3>
            <button class="new-post" *ngIf="userIsInGroup">Nova postagem</button>
            <input type="text" placeholder="Pesquisar...">
            <select>
                <option>Filtrar opções</option>
                <option>Mais novos</option>
                <option>Mais gostados</option>
            </select>
            <div class="feed-body">
                <p class="no-posts" *ngIf="!pageGroup?.posts">Não há nenhuma postagem...</p>
                <div class="post" *ngFor="let post of pageGroup?.posts">
                    <span class="post-head">{{ post.autor }} - {{post.data}}</span>
                    <div class="post-body">
                        {{ post.conteudo }}
                    </div>
                    <div class="icons">
                        <span><img src="img/heart-icon.png" id="heart-icon">  {{ post.curtidas || 0 }}</span>
                        <span><img src="img/comment.png" id="heart-icon">  {{ post.curtidas || 0 }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sources-container">
            <h3>Materiais do Grupo</h3>
            <div class="source" *ngFor="let src of pageGroup?.materiais">
                <img [src]="src.tipo == 'PDF' ? ['img/pdf.png'] : null">
                <a href="#">{{ src.titulo }}</a>
            </div>
        </div>
        <div class="desc-members-container">
            <h3>Descrição</h3>
            <p>{{ pageGroup?.descricao }}</p>
        </div>
    </div>
</div>

<app-footer></app-footer>