.page-body {
    display: flex;
    flex-direction: column;
    max-width: 1200px; 
    margin: 0 auto; 
    width: 100%;
}

.group-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 5%;
}

.title-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.tags span {
    font-size: 10px;
    background-color: rgb(145, 142, 142);
    padding: 5px 10px;
    border-radius: 15px;
    color: #ffffff;
}

.join-group {  
    max-width: 150px;
    padding: 10px;
    width: 100%;
    color: #ffffff;
    background-color: #0b1cb3;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #041183;
}

.group-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 10px 5%; 
}

.post-feed-container, .sources-container, .desc-members-container {
    padding: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
}

.post-feed-container {
    flex: 2; 
}

.sources-container {
    flex: 1;
}

.post {
    padding: 8px 10px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post-body {
    padding-top: 20px;
}

.source {
    padding: 8px 10px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    margin-bottom: 10px;
}

.desc-members-container {
    flex: 1;
    max-width: 300px;
}

.no-posts {
    font-size: 15px;
    margin: 15px 0;
    color: rgb(105, 105, 105);
}

input, select {
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

input {
    max-width: 300px;
    width: 100%;
    margin-right: 15px;
}

@media (max-width: 900px) {
    .group-wrapper {
        flex-direction: column;
    }
    .post-feed-container, 
    .sources-container, 
    .desc-members-container {
        max-width: 100%; 
        width: 100%;
    }
    .desc-members-container {
        order: -1; 
    }
}

@media (max-width: 600px) {
    .group-title-container {
        flex-direction: column;
        gap: 15px;
    }

    .join-group {
        max-width: 100%;
    }

    input {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}