<app-header></app-header>
<div class="explorar-page">
    
    
    <div class="filters-container">
        <h2>Filtros</h2>
        
        <div class="search-wrapper">
            <label for="busca-assunto"><b>Buscar:</b></label>
            <input type="text" id="busca-assunto" class="search-bar" placeholder="Física, História, Programação..." [(ngModel)]="termoBusca"> 
        </div>
        
        <div class="modalidades-wrapper">
            <label for="buscar-modalidade"><b>Modalidade:</b></label>
            <select id="buscar-modalidade" class="modalidades-select" [(ngModel)]="modalidadeSelecionada">
                <option value="Todas">Todas</option>
                <option value="Online">Online</option>
                <option value="Presencial">Presencial</option>
                <option value="Híbrido">Híbrido</option>
            </select>
        </div>
        
        <div class="categorias-wrapper">
            <label class="categorias-titulo"><b>Categorias Rápidas:</b></label>
            <div class="categoria-checkboxes">
                <label class="checkbox-item">
                    <input type="checkbox" [(ngModel)]="categorias.vestibulares" />
                    <span>Vestibulares</span>
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" [(ngModel)]="categorias.faculdade" />
                    <span>Faculdade</span>
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" [(ngModel)]="categorias.idiomas" />
                    <span>Idiomas</span>
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" [(ngModel)]="categorias.programacao" />
                    <span>Programação</span>
                </label>
            </div>
            <button class="apply-filters" (click)="aplicarFiltros()"><b>Aplicar Filtros</b></button>
        </div>
    </div>
    <div class="groups-container">
        <h2>Grupos</h2>
        <p><b>Baseado no seu perfil de estudos</b></p>
        <div class="cards-grid">
            <div class="cards" *ngFor="let grupo of gruposFiltrados">
                <div class="card-image-wrapper">
                    <img [src]="grupo.img" [alt]="grupo.titulo" class="card-banner">
                    <div class="card-header">
                        <h3>{{ grupo.titulo }}</h3>
                        <span class="tag-compatibilidade">{{ grupo.compatibilidade }}%</span>
                    </div>
                </div>
                
                
                <div class="card-body">
                    <p>{{ grupo.descricao }}</p>
                    <button class="entrar-grupo" 
                    *ngIf ="!grupo.userPertence"
                    [routerLink]="['/grupo', grupo.id]"
                    >
                        Entrar no Grupo
                    </button>
                    
                    <div class="pertence-group" *ngIf ="grupo.userPertence">
                        <p class="pertence-text"><i>Você está nesse grupo</i></p>
                        <button class="ver-grupo" [routerLink]="['/grupo', grupo.id]">Ver Grupo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>