<header class="dypolar-header">
  <div class="header-container">
    <a routerLink="/" class="logo">
        <img src="img/dypolar-1.png" alt="DyPolar Logo" (click)="irParaExplorar()" class="logo-img" />
    </a>

    <!-- Botão Hambúrguer visível apenas no mobile -->
    <button class="hamburger-btn" (click)="menuOpen = !menuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- O menu recebe a classe 'mobile-open' quando clicado -->
    <nav class="nav-links" [class.mobile-open]="menuOpen">
      <a routerLink="/explorar" routerLinkActive="active" (click)="menuOpen = false">Explorar Grupos</a>
      <a routerLink="/acervo" routerLinkActive="active" (click)="menuOpen = false">Acervo</a>
      <a routerLink="/membership" class="premium-link" *ngIf="!isUserPremium" routerLinkActive="active" (click)="menuOpen = false">Seja Premium</a>
      
      <div class="header-actions">
        <button class="btn-primary" *ngIf="!userLogged" [routerLink]="['/login']" (click)="menuOpen = false">Entrar</button>
        <button class="btn-primary" *ngIf="!userLogged" [routerLink]="['/cadastro']" (click)="menuOpen = false">Cadastre-se</button>
        <div class="user-menu" *ngIf="userLogged">
          <img class="user-icon" (click)="mudarPopup()" src="img/user-icon.png">
          <app-logout-popup *ngIf="openPopup"></app-logout-popup>
        </div>
      </div>
    </nav>
  </div>
</header>