<app-header></app-header>
<div class="page-body">
    <div class="filters">
        <h3>Filtros</h3>
        <input type="text" placeholder="Título, autor ou tema">
        <div class="checkboxes">
            <div class="categorias">
                <h3>Categorias</h3>
                <label for="categoria"><input type="checkbox"> Didático</label>
                <label for="categoria"><input type="checkbox"> Técnico </label>
                <label for="categoria"><input type="checkbox"> Artigo </label>
            </div>
            <div class="area">
                <h3>Área</h3>
                <label for="area"><input type="checkbox"> Exatas </label>
                <label for="area"><input type="checkbox"> Humanas </label>
                <label for="area"><input type="checkbox"> Tecnologia </label>
                <label for="area"><input type="checkbox"> Linguagens </label>
            </div>
            <div class="nivel">
                <h3>Nível</h3>
                <label class="nivel-checkbox"><input type="checkbox"> Graduação </label>
                <label class="nivel-checkbox"><input type="checkbox"> Mestrado </label>
                <label class="nivel-checkbox"><input type="checkbox"> Vestibular </label>
                <label class="nivel-checkbox"><input type="checkbox"> Pós-Graduação </label>
            </div>
            <div class="idioma">
                <h3>Idioma</h3>
                <label for="idioma"><input type="checkbox"> Português </label>
                <label for="idioma"><input type="checkbox"> Inglês </label>
            </div>
        </div>
    </div>
    <div class="books-container">
        <h2>Livros Recomendados</h2>
        <div class="recommended-books">
            <span class="book-card" *ngFor="let book of premiumBookCatalog">
                <div class="disponibilidade">Premium</div>
                <figure>
                    <img class="book-img" [src]="book.img">
                </figure>
                <span><b>{{ book.titulo }}</b></span>
                <button class="acessar-pdf">Acessar PDF</button>
            </span>
        </div>
        <h2>Outros livros do Acervo</h2>
        <div class="other-books"></div>
        <div class="premium-sign" *ngIf="!localUser?.isMember">
            <span><b>Desbloqueie todo o acervo e ganhe o desconto em livros físicos.</b></span>
            <button class="premium-button">Assinar plano Premium</button>
        </div>
    </div>
</div>
<app-footer></app-footer>